<% layout('layout') %>
<% script('/jquery-1.8.2.min.js') %>
<% script('/main.js') %>
<% stylesheet('/styles.css') %>

<h1><%= title %></h1>
<h3>Create views</h3>
<div id="views">
	<a class="create-view" href="/dev/products/all">Create products/all view</a>
</div>
<div id="modal-dialog">
	<div id="response-message"></div>
	<input type="button" id="closeButton" value="OK" />
</div>
<script type="text/javascript">
	$('#views .create-view').click(function() {
		$.ajax({
			type: 'GET',
			url: $(this).attr('href'),
			success: function(res) {
				if (res) {
					var msg = '';
					$.each(res, function(k, v) {
						msg += k + ': ' + v + '<br />';
					});

					$('#modal-dialog').center().fadeIn();
					$('#response-message').html(msg);
				}
			}
		});
	
		return false;
	});

	$('#closeButton').click(function() {
		$('#modal-dialog').fadeOut();
	});
</script>

<% block('header', '') %>
<% block('footer', '') %>