<% layout('layout') %>
<% script('/scripts/jquery-1.8.2.min.js') %>
<% script('/scripts/main.js') %>
<% script('/scripts/underscore-min.js') %>
<% stylesheet('/css/styles.css') %>

<h1><%= title %></h1>
<div class="dev-views">
	<form method="post" class="dev-create" action="/api/dev/products/db">
		<label>Create products database</label>
		<input type="submit" value="submit" />
		<div class="cl"></div>
	</form>
	<form method="post" class="dev-create" action="/api/dev/products/all">
		<label>Create products/all view</label>
		<input type="submit" value="submit" />
		<div class="cl"></div>
	</form>
	<form method="post" class="dev-create" action="/api/dev/accounts/db">
		<label>Create accounts database</label>
		<input type="submit" value="submit" />
		<div class="cl"></div>
	</form>
	<form method="post" class="dev-create" action="/api/dev/accounts/all">
		<label>Create accounts/all view:</label>
		<input type="submit" value="submit" />
		<div class="cl"></div>
	</form>
	<form method="post" class="dev-create" action="/api/dev/accounts/getByEmail">
		<label>Create accounts/getByEmail view:</label>
		<input type="submit" value="submit" />
		<div class="cl"></div>
	</form>
</div>
<div id="modal-dialog">
	<div id="response-message"></div>
	<input type="button" id="closeButton" value="OK" />
</div>
<script type="text/javascript">
	//Just by mistake made closure, it appends message every time it is returned from the server
	//commented as an example for future ))
	var closureUtil = (function() {
		var msg = '';
		var getMsg = function(obj, nl) {
			_.each(obj, function(v, k) {
				if (_.isObject(v)) {
					getMsg(v, nl);
				} else {
					msg += k + ': ' + v + (nl || '<br />'); 
				}
			});
			
			return msg;
		};
		
		return {
			objectToString: function(o, nline) {
				return getMsg(o, nline);
			}
		};
	})();
	
	var util = (function() {		
		var getMsg = function(obj, nl) {
			var msg = '';
			_.each(obj, function(v, k) {
				if (_.isObject(v)) {
					msg += getMsg(v, nl);
				} else {
					msg += k + ': ' + v + (nl || '<br />'); 
				}
			});
			
			return msg;
		};
		
		return {
			objectToString: function(o, nline) {
				return getMsg(o, nline);
			}
		};
	})();

	function handleResponse(res) {
		if (res) {
			if (res) {
				var msg = util.objectToString(res);
			}

			$('#modal-dialog').center().fadeIn();
			$('#response-message').html(msg || 'no info');
		}
	}

	$('.dev-create').submit(function() {
		$.ajax({
			type: $(this).attr('method'),
			url: $(this).attr('action'),
			cache: false,
			success: function(res) {
				handleResponse(res);
			}
		});
	
		return false;
	});

	$('#closeButton').click(function() {
		$('#response-message').html('');
		$('#modal-dialog').fadeOut();
	});
</script>

<% block('header', '') %>
<% block('footer', '') %>