<% layout('layout') %>
<% script('/scripts/jquery-1.8.2.min.js') %>
<% script('/scripts/main.js') %>
<% stylesheet('/css/styles.css') %>

<h1><%= message %></h1>

<% block('header', '') %>
<% block('footer', '') %>