<% layout('layout') %>
<% script('/jquery-1.8.2.min.js') %>
<% script('/knockout.min.js') %>
<% script('/underscore-min.js') %>
<% script('/main.js') %>
<% script('/client-products.js') %>
<% stylesheet('/styles.css') %>

<h1><%= message %></h1>
<button id="create-product" class="create-product">Create Product</button>
<div id="modal-dialog">
	<form id="add-product-form" method="post" action="/api/products/add">
		<label for="name">Product name:</label>
		<input type="text" name="name" id="name" />
		<label for="price">Product price:</label>
		<input type="text" name="price" id="price" />
		<input type="submit" value="save product" />
		<input type="button" value="cancel" id="cancel-add" />
	</form>
</div>
<div data-bind="foreach: products">
	<div class="entry">
		<div data-bind="visible: itemView">
			<p><strong>Product Name:</strong> <span data-bind="text: name"></span></p>
			<p><strong>Price:</strong> <span data-bind="text: price"></span></p>
		</div>
		<div data-bind="visible: editView">
			<p><strong>Product Name:</strong> <input type="text" name="name" data-bind="value: name" /></p>
			<p><strong>Price:</strong> <input type="text" name="price" data-bind="value: price" /></p>
			<input class="edit-button" type="submit" value="save" data-bind="click: $root.submitUpdate" />
			<input class="edit-button" type="button" value="cancel" data-bind="click: $root.cancelUpdate" />
		</div>
		<div data-bind="visible: controls">
			<input type="button" value="edit" class="edit-button" data-bind="click: $root.updateProduct" />
			<input type="button" value="remove" class="remove-button" data-bind="click: $root.removeProduct" />
		</div>
		<div class="clear"></div>
	</div>
</div>

<script type="text/javascript">

</script>


<% block('header', '') %>
<% block('footer', '') %>