html, body, a, p, div, img, span, br, nav, section, aside, footer, header, table, tr, td, th, h1, h2, h3 {
	margin:0;
	padding:0;
	border:0;
}

.page {
	width: 80%;
	margin: 0 auto;
	font:16px Arial;
	color:#333;
	padding:0;
	text-align:left;
}

.page nav {
	margin:10px 0 0 0;
	padding:0;
	float: left;
	width:20%;
}

.page section {
	float:right;
	width:78%;	
	padding:0 10px;
}

.page footer {
	clear:both;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
}

.page nav a:link, a:active, a:visited {
	display:block;
	background:Silver;
	color:#FFF;
	margin:0;
	padding:3px;
	text-decoration:none;
	cursor:pointer;
	margin:0 0 2px 0;
	font-weight:bold;
	border-radius:7px;
}

.page nav a:hover {
	background:Gray;
}

.profile-menu-blocks a {
	display: block;
	color: #333;
	padding: 20px 20px;
	margin: 0 17px 0 0;
	text-decoration: none;
	border: 1px solid #333;
	border-radius: 10px;
	float: left;
	width: 250px;
}

.common-form fieldset {
	border-radius:10px;
	width:50%;
}

.common-form h3 {
	font-weight: bold;
	clear: both;
	font-size: 16px;
	font-family: Arial;
	color:#333;
}

.common-form input[type=text] {
	width:250px;
	float:right;
	font:16px Arial;
	color:#333;
	padding:1px;
	margin:3px;
	display:block;
}

.common-form input[type=submit] {
	clear:both;
	float:right;
	font:16px Arial;
	color:#333;
	padding:5px;
	margin:3px;
	display:block;
	cursor:pointer;
}

.common-form textarea {
	display:block;
	clear:both;
	padding:1px;
	margin:3px;
	font:16px Arial;
	color:#333;
	width: 98%;
}

.common-form label {
	display:block;
	clear:both;
	float:left;
	padding:1px;
	margin:3px;
}

.clear {
	clear: both;
	margin: 0;
	padding: 0;
	border: 0;
}

.entry {
	padding:10px;
	border:1px solid #333;
	border-radius:10px;
	margin:4px 0 0 0;
	width:500px;
}

.entry .edit, .remove {
	font:11px Arial;
	margin: 0 7px 0 0;
	padding: 0;
}

.entry .edit-button, .entry .remove-button {
	width:80px;
	display: block;
	float: left;
	cursor: pointer;
	margin: 0 7px 0 0;
}

.create-product {
	cursor: pointer;	
}

#modal-dialog, #modal-confirm-dialog {
	display:none;
	background: Silver;
	color: #FFF;
	padding: 10px 25px;
	border-radius:10px;
	max-width: 400px;
}

#modal-dialog label {
	display: block;
	clear: both;
	float: left;
}

#modal-dialog input[type=text] {
	float: right;
	display: block;
	width: 170px
}

#modal-dialog input[type=submit] {
	clear: both;
	float: left;
	width: 100px;
	cursor: pointer;
}

#modal-dialog input[type=button] {
	float: right;
	width: 100px;
	cursor: pointer;
}

#modal-dialog label.errormsg {
	display: block;
	padding: 10px 25px;
	margin: 0 auto;
	color: Red;
	font-weight: bold;
}

#modal-dialog button {
	clear: both;
	display: block;
	margin: 0 auto;
	width: 100px;
	cursor: pointer;
}

#modal-dialog fieldset { border-radius: 10px; }

#modal-dialog label.error {
	color:red;
	font-size:12px;
	font-style: italic;
	float: right;
	text-align: left;
	width: 170px;
}

.dev-views {
	width: 550px;
	margin: 0;
	padding: 0;
}

.dev-views label {
	width:300px;
	display: block;
	float: left;
	text-align: left;
	margin: 3px;
	padding: 0;
	text-align: left;
}

.dev-views input {
	width: 200px;
	display: block;
	float: right;
	margin: 3px;
	padding: 0;
	cursor: pointer;
}
.dev-views .cl {
	clear:both;
	border: 1px solid #333;
}

#new-dish-panel {
	width: 500px;
	padding: 0;
	display: none;
}

#new-dish-panel #ingredients .search-product label {
	display: block;
	float: left;	
}

#new-dish-panel #ingredients .search-product input[type=text] {
	display: block;
	float: left;
	width: auto;
}

#new-dish-panel #ingredients .search-product button {
	display: block;
	cursor: pointer;
	float: left;
	margin: 3px
}

#products {
	display: none;
}